* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

/* HEADER OG LOGO */
.logo {
  margin-top: 5px;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

a:hover {
  color: rgb(40, 159, 181);
}

header {
  position: sticky;
  padding: 16px 32px;
  overflow: scroll;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow-x: auto;
  font-size: 20px;
}

/* Footer */

footer {
  background-color: #58cde1;
  padding-block: 48px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

@media (min-width: 200px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #58cde1;
  }
  header nav ul {

    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    overflow-x: auto;
  }

  @media (max-width: 500px) {
    header nav ul {
      font-size: 16px;
    }
    }
}
